@import url(./styles.css);

* {
    --icon-size: 35px
}

.module-wrapper {
    border: #000000aa 5px solid;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    background-color: #00000064;
    width: 400px;
    margin: 8px 15px 0px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.module-container {
    display: flex;
}

.module-name {
    padding: 4px 4px 10px 4px;
    font-size: 25px;
    background-color: var(--light-filter);
    width: 100%;
    border-top-right-radius: 15px;
    display: flex;
}

.unlock-marker {
    color: rgb(98, 252, 71);
}

.module-name-text {
    margin: 0 0 0 10px;
    width: 90%;
}

.module-description {
    margin: 0;
    padding: 35px 12px 35px 12px;
    text-align: center;
    white-space: pre-line;
}

.module-connector {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: -3px 0 -13px 0;
}

/*#region Conversions*/
.conversion-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}


.conversion-items {
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: calc(var(--icon-size) * 4);
    height: auto;
    padding: 3px;
    border: var(--dark-filter) 2px solid;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wide {
    width: 90%
}

.conversion-items.button-inputs {
    margin: 10px 10px 10px 10px;
}

.conversion-amount {
    max-height: var(--icon-size);
    font-size: calc(var(--icon-size) - 10px);
    display: flex;
    margin: 2px 6px 0 2px;

}

.item-display-text {
    width: 125px;
}


.con-arrow {
    height: 25px;
    font-size: 25px;
}

.con-icon {
    height: var(--icon-size);
}

.icon-carets {
    margin-right: 5px;
}

.positive {
    color: rgb(114, 255, 67);
}

.negative {
    color: rgb(255, 255, 255);
}

.icon-wrapper {
    display: flex;
    width: fit-content;
}


/*#endregion*/

/*#region Amount Controls*/

.amount-controls {
    display: flex;
}

.amount-text {
    margin: 3px;
}

/*#endregion*/